{% extends 'base.html.twig' %}

    {% block barContent %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block preNavBarItems %}{% endblock %}
        <form class="d-flex">
            <button type="button" class="btn btn-outline-light btn-sm ms-3" onclick="firstPage()"><<</button>
            <button type="button" class="btn btn-outline-light btn-sm ms-1" onclick="pageBackward()"><</button>
            {# <?php echo new app\core\controls\Select("rowNumberSelect", $rowDropDownArr, "form-select-sm ms-1", "toggleRowsVisibility(this)", $rowDropDownSelect, "50px", "white"); ?>           #}
            <button type="button" class="btn btn-outline-light btn-sm ms-1" onclick="pageForward()">></button>
            <button type="button" class="btn btn-outline-light btn-sm ms-1" onclick="lastPage()">>></button>
        </form>
        <form class="d-flex" role="search">
            <button class="btn btn-outline-light btn-sm ms-3" type="button" onclick="resetTextSearch()">X</button>
            <input id="textSearch" class="form-control-sm ms-1" type="text" placeholder="Search"/>
            <button class="btn btn-outline-light btn-sm ms-1" type="button" onclick="fullTextSearch()">Suchen</button>
        </form>
    </div>    
    {% endblock %}

