{% extends 'navbar.html.twig' %}

{% block title %}{{ parent() }} Bauteildaten{% endblock %}

{% block navbarTitle %}{{ parent() }} Bauteildaten{% endblock %}
{% block preNavBarItems %}
<a class="btn btn-outline-light btn-sm ms-1" href="">&lArr; Startseite</a>
<a class="btn btn-outline-light btn-sm ms-1" href="{{ path('app_bauteilformular') }}">neuer Artikel</a>        
{% endblock %}

{% block stautusBox %}<textarea disabled class="form-control" placeholder="Status" id="statusBox"></textarea>    
{% endblock %}

{% block viewContent %}
<div class="mt-5">
Hier stehen Bauteildaten!
</div>
{% endblock %}